---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import SectionHeader from '../components/ui/section-header.vue';
import ExperienceCard from '../components/ui/experience-card.vue';
import SkillsCard from '../components/ui/skills-card.vue';
import ProjectCard from '../components/ui/project-card.vue';
import PageSection from '../components/PageSection.astro';
const work = await getCollection('work');
const projects = await getCollection('projects');
const skills = [
  'Full Stack Web Development',
  'UX Design',
  'Framer Development',
  'Product Development',
];
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class='flex flex-col'>
    <PageSection title='About Me'>
      <p class='text-xl'>
        Seasoned full stack developer with over 8 years of expertise crafting
        sophisticated web applications and bringing innovative tech products
        from concept to deployment. - My background in both tech and fitness
        helps me create solutions for people like me, busy professionals who
        want efficient tools that actually work.
      </p>
      <img src='/images/dylan.jpeg' class='rounded-md w-52' />
    </PageSection>
    <hr class='border-neutral-200' />
    <PageSection title='Projects'>
      {
        projects.map((post, index) => (
          <ProjectCard
            client:load
            title={post.data.title}
            description={post.data.description}
            link={post.data.link}
            offset={index + 1}
          />
        ))
      }
    </PageSection>
    <hr class='border-neutral-200' />
    <PageSection title='Experience'>
      <ul class='flex flex-col gap-8'>
        {
          work.map((item, index) => (
            <ExperienceCard
              client:load
              title={item.data.title}
              company={item.data.company}
              date={item.data.date}
              delay={index}
            />
          ))
        }
      </ul>
    </PageSection>
    <hr class='border-neutral-200' />
    <PageSection title='Skills'>
      <ul class='flex flex-col gap-8'>
        {
          skills.map((item, index) => (
            <SkillsCard client:load title={item} delay={index} />
          ))
        }
      </ul>
    </PageSection>
  </main>
</Layout>
