---
const { title, description, author, date, imageId } = Astro.props;
---

<header
  class='p-2 md:p-6 lg:p-20 bg-primary-200 flex items-center justify-center'>
  <div class='max-w-4xl mx-auto flex flex-col gap-2 md:gap-6'>
    <h1 class='h2'>{title}</h1>
    <div class='flex flex-col gap-2 md:gap-6'>
      <p class='p text-primary-600'>
        {description}
      </p>
      <div class='flex items-center gap-2'>
        <picture>
          <source srcset='/opt/images/profile.webp' type='image/webp' />
          <source srcset='/opt/images/profile.jpg' type='image/jpg' />
          <img
            class='w-4 h-4 rounded-full'
            width='32px'
            height='32px'
            src='/opt/images/profile.jpg'
            alt='Photo of Dylan Britz'
          />
        </picture>

        <p class='text-sm'>{author}</p>
        <span class='text-sm text-neutral-500'>•</span>
        <time class='text-sm text-neutral-500'>{date.toDateString()}</time>
      </div>

      <picture>
        <source srcset=`/opt/images/${imageId}.webp` type='image/webp' />
        <source srcset=`/opt/images/${imageId}.png` type='image/png' />
        <img
          class='w-full aspect-[720/360] object-cover rounded-lg shadow-lg'
          src=`/opt/images/${imageId}.png`
          alt='Photo of Dylan Britz'
        />
      </picture>
    </div>
  </div>
</header>
