---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostHeader from '../../components/post/post-header.astro';
import BackButton from '../../components/ui/back-button.vue';
import { sortByDate } from '../../utils/sortByDate.js';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const numberOfPosts = posts.length; // Total of all posts
  return posts.sort(sortByDate).map((post, i) => ({
    params: { id: post.id },
    props: {
      post,
      // Previous post
      prevPost:
        i + 1 === numberOfPosts // If the current post is the oldest
          ? { frontmatter: '' }
          : posts[i + 1],
      // Next post
      nextPost:
        i === 0 // If the current post is the newest
          ? { frontmatter: '' }
          : posts[i - 1],
    },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description ?? ''}>
  <article class='bg-neutral-50 w-full flex flex-col'>
    <PostHeader
      title={post.data.title}
      date={post.data.date}
      description={post.data.description ?? ''}
      author={post.data.author}
      imageId={post.id}
    />
    <section
      class='bg-neutral-50 w-full z-10 pb-8 px-2 md:px-6 lg:py-20 rounded-t-4xl relative'>
      <nav class='max-w-4xl mx-auto pb-5'>
        <ul
          class='flex flex-wrap items-center gap-1 md:gap-4 text-sm font-semibold'>
          <li>
            <a href='/'>Home</a>
          </li>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='size-2'>
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3'></path>
          </svg>

          <li>
            <a href='/writing'>Writing</a>
          </li>
        </ul>
      </nav>
      <div
        class='mx-auto prose max-w-4xl prose-zinc prose-sm md:prose-xl prose-p:font-medium prose-headings:font-medium prose-headings:tracking-tight'>
        <Content />
      </div>
      <nav
        class='max-w-4xl mx-auto py-5 mt-5 border-t border-neutral-300 flex justify-end grid-cols-2 gap-2 w-full'>
        <div class='w-full'>
          <BackButton post={prevPost} />
        </div>
        <div class='w-full'>
          <BackButton post={nextPost} rotate />
        </div>
      </nav>
    </section>
  </article>
</Layout>
