---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogCard from '../../components/ui/blog-card.vue';
import SectionHeader from '../../components/ui/section-header.vue';
import { sortByDate } from '../../utils/sortByDate';
import PageSection from '../../components/PageSection.astro';
const posts = await getCollection('blog');
---

<Layout
  title='Web development posts | Dylan Britz'
  description='Modern, quick and digestible web development tutorials, tips, tricks and insights'>
  <main class='flex flex-col'>
    <PageSection title='Writing'>
      <ul class='text-lg md:text-xl font-medium flex flex-col gap-8'>
        {
          posts
            .sort(sortByDate)
            .map((post, index) => (
              <BlogCard
                client:load
                title={post.data.title}
                author={post.data.author}
                date={post.data.date}
                url={`/writing/${post.id}`}
                delay={index}
              />
            ))
        }
      </ul>
    </PageSection>
  </main>
</Layout>
