---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogCard from '../../components/ui/blog-card.vue';
import SectionHeader from '../../components/ui/section-header.vue';
import { sortByDate } from '../../utils/sortByDate';
const posts = await getCollection('blog');
---

<Layout
  title='Web development posts | Dylan Britz'
  description='Modern, quick and digestible web development tutorials, tips, tricks and insights'>
  <main
    class='container mx-auto px-4 md:px-0 py-8 flex flex-col md:flex-row gap-8 overflow-visible'>
    <div class='mt-1 w-full md:max-w-1/3'>
      <SectionHeader client:load title='Writing' />
    </div>
    <div class='w-full'>
      <ul class='text-lg md:text-xl font-medium flex flex-col gap-8'>
        {
          posts
            .sort(sortByDate)
            .map((post, index) => (
              <BlogCard
                client:load
                title={post.data.title}
                author={post.data.author}
                date={post.data.date}
                url={`/writing/${post.id}`}
                delay={index}
              />
            ))
        }
      </ul>
    </div>
  </main>
</Layout>
